<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>{{page.title}}</title>
</head>
<body>
	<div class="container">
		<div class="file-navigation">
			<div class="breadcrumb">
				<span class="repo-root js-repo-root">
					<span itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
						<a itemscope="url" data-pjax="true" data-direction="back" data-branch="gh-pages" href="{{site.baseurl}}">
							<span itemprop="title">home</span>
						</a>
					</span>
				</span>
				<span class="separator">/</span> 
				<strong class="final-path">{{page.title}}</strong>
			</div>
		</div>
		<article itemprop="mainContentOfPage" class="markdown-body entry-content">{{content}}</article>
	</div>
</body>
</html>